
<div>
  <div class="container">
    <div class="text-center" >
      <table>
        <tr>
          <th>Sr. No.</th>
          <th (click)="sortOrder = getSortEnum().FIRST_NAME">FirstName</th>
          <th>LastName</th>
          <th colspan="2">email</th>
          <th>gender</th>
          <th colspan="2" (click)="sortOrder = getSortEnum().COMPANY_NAME">companyName</th>
          <th>jobTitle</th>
          <th (click)="sortOrder = getSortEnum().UNIVERSITY">university</th>
          <th>skill</th>
          
          
          
        </tr>
        <tr *ngFor="let user of user | sort: sortOrder; let i=index;">
          <td> {{i+1}} </td>
          <td> {{user.firstName}}</td>
          <td> {{user.lastName}}</td>
          <td colspan="2"> {{user.email}}</td>
          <td> {{user.gender }}</td>
          <td colspan="2"> {{user.companyName }}</td>
          <td> {{user.jobTitle }}</td>
          <td> {{user.university }}</td>
          <td> {{user.skill }}</td>
          
          
        </tr>
      </table>
    <hr/>
    <hr/>
      <ul *ngIf="pager.pages && pager?.pages?.length" class="pagination">
        <li [class.disabled]="pager.currentPage === 1">
          <a class="btn btn-danger" (click)="setPage(1)">First</a>
        </li>&nbsp;
        <li [class.disabled]="pager?.currentPage === 1">
          <a class="btn btn-primary" (click)="setPage(pager.currentPage - 1)">Previous</a>
        </li>&nbsp;
        <li *ngFor="let page of pager?.pages" [class.active]="pager.currentPage === page">
          <a class="btn btn-success" (click)="setPage(page)">{{page}}</a>
        </li>&nbsp;
        <li [class.disabled]="pager?.currentPage === pager.totalPages">
          <a class="btn btn-primary" (click)="setPage(pager.currentPage + 1)">Next</a>
        </li>&nbsp;
        <li [class.disabled]="pager?.currentPage === pager.totalPages">
          <a class="btn btn-danger" (click)="setPage(pager.totalPages)">Last</a>
        </li>&nbsp;
      </ul>
    </div>
  </div>
  <hr />
</div>



